## ASSIGNMENT ONE

In [2]:
newlist = ['Ama', 'Kojo', 'Yhup', str(52), 'Kwame', str(96), 'Kwesi', str(87), 'Roland', True, 'Nti', str(45), str(78.5),
          'William', str(68), str(45.3), str(78), 'Patty', False, str(98), True, 'Adowa', str(21), str(65), 'Pappy', str(14),
          'Folly', False, str(52), 'Perry']

In [3]:
int = []

In [4]:
float = []

In [5]:
str = []

In [6]:
bool = []

### INTEGERS

In [31]:
for nums in newlist:
    int.append(nums)

In [32]:
int

[52, 96, 87, 45, 68, 78, 98, 21, 65, 14]

### FLOATS

In [59]:
num1 = 45.3

In [60]:
type(num1)

float

In [61]:
num2 = 78.5

In [62]:
type(num2)

float

In [79]:
num3 = 45.5

In [80]:
type(num3)

float

In [111]:
print(num1, num2, num3)

[45.3] [78.5] 45.5

### STRINGS

In [69]:
name1 = 'Ama'
name2 = 'Kojo'
name3 = 'Yhup' 
name4 = 'Kwame'
name5 = 'Kwesi'
name6 = 'Roland'
name7 = 'Nti' 
name8 = 'William'
name9 = 'Patty' 
name10 = 'Adowa' 
name11 = 'Pappy' 
name12 = 'Folly'

In [70]:
type(name1)

str

In [71]:
type(name2)

str

In [72]:
type(name3)

str

In [73]:
type(name4)

str

In [118]:
print(name1 , name2 ,  name3 , name4 , name5 , name6 , name7 , name8 , name9 , name10 , name11 , name12)

Ama Kojo Yhup Kwame Kwesi Roland Nti William Patty Adowa Pappy Folly

### BOOLEANS

In [81]:
True

True

In [82]:
False

False

In [83]:
False

False

In [116]:
print("True", "False", "False")

True False False

### Question 4 & 5

In [85]:
int

[52, 96, 87, 45, 68, 78, 98, 21, 65, 14]

In [98]:
int = [52, 96, 87, 45, 68, 78, 98, 21, 65, 14]
print("3rd higest in" , int , "is" , sorted (int) [-3])

3rd higest in [52, 96, 87, 45, 68, 78, 98, 21, 65, 14] is 87

In [99]:
int = [52, 96, 87, 45, 68, 78, 98, 21, 65, 14]
print("5th highest in" , int , "is" , sorted(int) [-5])

5th highest in [52, 96, 87, 45, 68, 78, 98, 21, 65, 14] is 68

In [109]:
print(num1, num2, num3)

[45.3] [78.5] 45.5

In [110]:
print('2nd largest float number is 45.5' )

2nd largest float number is 45.5